@page "/SharesPurchasedPage"

@using Microsoft.AspNetCore.Components.QuickGrid
@using MyPrivateApp.Components.Enum
@using MyPrivateApp.Components.Shares.Classes
@using MyPrivateApp.Components.Shares.Classes.Interface
@using MyPrivateApp.Components.ViewModels.SharesViewModels
@using MyPrivateApp.Data
@using MyPrivateApp.Data.Models
@using MyPrivateApp.Data.Models.SharesModels

@rendermode InteractiveServer

@inject ApplicationDbContext db
@inject NavigationManager Navigation
@inject ISharesPurchasedClass BackEndClass
@inject ISharesFeeClass ISharesFeeClass

<PageTitle> Aktier </PageTitle>

<br />

@* Header *@
<div>

    @* Desktop Navigation*@
    <div id="desktop" style="text-align:center">
        <div class="btn-group">
            <NavLink href="SharesIndexYearsPage" type="button" class="btn btn-outline-dark btn-sm"> Start </NavLink>
            <NavLink href="SharesImportsPage" type="button" class="btn btn-outline-dark btn-sm"> Importera </NavLink>
            <NavLink href="SharesPurchasedPage" type="button" class="btn btn-outline-dark btn-sm"> Köpta aktier </NavLink>
            <NavLink href="SharesSoldPage" type="button" class="btn btn-outline-dark btn-sm">Sålda aktier</NavLink>
            <NavLink href="SharesPurchasedFundsPage" type="button" class="btn btn-outline-dark btn-sm"> Köpta fonder </NavLink>
            <NavLink href="SharesSoldFundsPage" type="button" class="btn btn-outline-dark btn-sm"> Sålda fonder </NavLink>
            <NavLink href="SharesDividendPage" type="button" class="btn btn-outline-dark btn-sm">Utdelningar</NavLink>
            <NavLink href="SharesFeePage" type="button" class="btn btn-outline-dark btn-sm">Avgifter</NavLink>
            <NavLink href="SharesDepositMoneyPage" type="button" class="btn btn-outline-dark btn-sm"> Banköverföringar </NavLink>
            <NavLink href="SharesInterestRatesPage" type="button" class="btn btn-outline-dark btn-sm"> Räntor </NavLink>
            <NavLink href="SharesOtherImportsPage" type="button" class="btn btn-outline-dark btn-sm"> Manuell hantering </NavLink>
            <NavLink href="SharesErrorHandlingPage" type="button" class="btn btn-outline-dark btn-sm">Felhantering</NavLink>
        </div>
    </div>

    @* Mobile Navigation*@
    <div id="mobile">
        <div class="btn-group" role="group">
            <button title="Info" id="btnGroupDrop1" type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Alla aktier sidor
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <li class="dropdown-item"><NavLink href="SharesIndexYearsPage" type="button" class="btn btn-outline-dark btn-sm"> Start </NavLink></li>
                <li class="dropdown-item"><NavLink href="SharesImportsPage" type="button" class="btn btn-outline-dark btn-sm"> Importera </NavLink></li>
                <li class="dropdown-item"><NavLink href="SharesPurchasedPage" type="button" class="btn btn-outline-dark btn-sm"> Köpta aktier </NavLink></li>
                <li class="dropdown-item"><NavLink href="SharesSoldPage" type="button" class="btn btn-outline-dark btn-sm">Sålda aktier</NavLink></li>
                <li class="dropdown-item"><NavLink href="SharesPurchasedFundsPage" type="button" class="btn btn-outline-dark btn-sm"> Köpta fonder </NavLink></li>
                <li class="dropdown-item"><NavLink href="SharesSoldFundsPage" type="button" class="btn btn-outline-dark btn-sm"> Sålda fonder </NavLink></li>
                <li class="dropdown-item"><NavLink href="SharesDividendPage" type="button" class="btn btn-outline-dark btn-sm">Utdelningar</NavLink></li>
                <li class="dropdown-item"><NavLink href="SharesFeePage" type="button" class="btn btn-outline-dark btn-sm">Avgifter</NavLink></li>
                <li class="dropdown-item"><NavLink href="SharesDepositMoneyPage" type="button" class="btn btn-outline-dark btn-sm"> Banköverföringar </NavLink></li>
                <li class="dropdown-item"><NavLink href="SharesInterestRatesPage" type="button" class="btn btn-outline-dark btn-sm"> Räntor </NavLink></li>
                <li class="dropdown-item"><NavLink href="SharesOtherImportsPage" type="button" class="btn btn-outline-dark btn-sm"> Manuell hantering </NavLink></li>
                <li class="dropdown-item"><NavLink href="SharesErrorHandlingPage" type="button" class="btn btn-outline-dark btn-sm">Felhantering</NavLink></li>
            </ul>
        </div>
    </div>

    <br />
    <br />

    <h1 style="text-align:center"> Köpta aktier </h1>

    <div style="text-align:center" hidden="@ShowOrHideCreateButton">

        <br />
        <br />

        <button class="btn btn-outline-success btn-sm" @onclick="@HideNewOrChangesForm">Köp aktie</button>
    </div>

    <div style="text-align:center" hidden="@ShowOrHideErrorMessage">

        <br />
        <br />

        <Alert Color="AlertColor.Danger"> <Icon Name="IconName.ExclamationTriangleFill" class="me-2"></Icon> <b>@ErrorMessage</b> </Alert>
    </div>

    <br />
    <br />

</div>

@* Form and views *@
<div class="container">
    <div class="col-md-12">
        <div class="card">

            @* Form *@
            <div class="card-header">
                <EditForm Model="pageModel" OnSubmit="AddOrEdit" FormName="AddOrUpdate" Enhance hidden="@(!HideNewOrChangesFields)">

                    <DataAnnotationsValidator />

                    <ValidationSummary class="text-danger" role="alert" />

                    <br />

                    <div class="row">

                        <div id="mobile" class="col-4" />

                        <div class="col-4">
                            <div class="form-floating">
                                <InputText @bind-Value="pageModel.CompanyName" class="form-control" disabled="@DisabledForm" />
                                <label for="CompanyName"> Företag </label>
                                <ValidationMessage For="() => pageModel.CompanyName" class="text-danger" />
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-floating">
                                <InputText @bind-Value="pageModel.TypeOfShares" class="form-control" disabled="@DisabledForm" />
                                <label for="TypeOfShares"> Typ av aktie </label>
                                <ValidationMessage For="() => pageModel.TypeOfShares" class="text-danger" />
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-floating">
                                <InputText @bind-Value="pageModel.ISIN" class="form-control" disabled="@DisabledForm" />
                                <label for="ISIN"> ISIN </label>
                                <ValidationMessage For="() => pageModel.ISIN" class="text-danger" />
                            </div>
                        </div>

                    </div>

                    <br />

                    <div class="row">

                        <div id="mobile" class="col-4" />

                        <div class="col-4">
                            <div class="form-floating">
                                <InputDate @bind-Value="pageModel.DateOfPurchase" class="form-control" disabled="@DisabledForm" />
                                <label for="DateOfPurchase"> Datum </label>
                                <ValidationMessage For="() => pageModel.DateOfPurchase" class="text-danger" />
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-floating">
                                <InputText @bind-Value="pageModel.Account" class="form-control" disabled="@DisabledForm" />
                                <label for="Account"> Konto </label>
                                <ValidationMessage For="() => pageModel.Account" class="text-danger" />
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-floating">
                                <InputText @bind-Value="pageModel.Currency" class="form-control" disabled="@DisabledForm" />
                                <label for="Currency"> Valuta </label>
                                <ValidationMessage For="() => pageModel.Currency" class="text-danger" />
                            </div>
                        </div>

                    </div>

                    <br />

                    <div class="row">

                        <div id="mobile" class="col-3" />

                        <div class="col-3">
                            <div class="form-floating">
                                <InputNumber @bind-Value="pageModel.HowMany" class="form-control" disabled="@DisabledForm" />
                                <label for="HowMany"> Antal </label>
                                <ValidationMessage For="() => pageModel.HowMany" class="text-danger" />
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-floating">
                                <InputText @bind-Value="pageModel.PricePerShares" class="form-control" disabled="@DisabledForm" />
                                <label for="PricePerShares"> Pris per aktie (snitt vid köp av fler) </label>
                                <ValidationMessage For="() => pageModel.PricePerShares" class="text-danger" />
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-floating">
                                <InputText @bind-Value="pageModel.Amount" class="form-control" disabled="true" />
                                <label for="Amount"> Inköpsvärdet </label>
                                <ValidationMessage For="() => pageModel.Amount" class="text-danger" />
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-floating">
                                <InputNumber @bind-Value="pageModel.Brokerage" class="form-control" disabled="@DisabledForm" />
                                <label for="Brokerage"> Courtage </label>
                                <ValidationMessage For="() => pageModel.Brokerage" class="text-danger" />
                            </div>
                        </div>

                    </div>

                    <br />

                    <div class="row">

                        <div class="col-12">
                            <div class="form-floating">
                                <InputTextArea rows="10" style="height:100%;" @bind-Value="pageModel.Note" class="form-control" disabled="@DisabledForm" />
                                <label for="Note"> Anteckningar </label>
                                <ValidationMessage For="() => pageModel.Note" class="text-danger" />
                            </div>
                        </div>

                    </div>

                    <br />

                    <div class="row" hidden="@BuyMore">

                        <div id="mobile" class="col-3" />

                        <div class="col-3">
                            <div class="form-floating">
                                <InputDate @bind-Value="pageModel.MoreDateOfPurchase" class="form-control" />
                                <label for="MoreDateOfPurchase"> Köp mer: Datum </label>
                                <ValidationMessage For="() => pageModel.MoreDateOfPurchase" class="text-danger" />
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-floating">
                                <InputNumber @bind-Value="pageModel.MoreHowMany" class="form-control" />
                                <label for="MoreHowMany"> Köp mer: Antal </label>
                                <ValidationMessage For="() => pageModel.MoreHowMany" class="text-danger" />
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-floating">
                                <InputNumber @bind-Value="pageModel.MorePricePerShares" class="form-control" />
                                <label for="MorePricePerShares"> Köp mer: Pris per aktie </label>
                                <ValidationMessage For="() => pageModel.MorePricePerShares" class="text-danger" />
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-floating">
                                <InputNumber @bind-Value="pageModel.MoreBrokerage" class="form-control" />
                                <label for="MoreBrokerage"> Köp mer: Courtage </label>
                                <ValidationMessage For="() => pageModel.MoreBrokerage" class="text-danger" />
                            </div>
                        </div>

                    </div>

                    <div class="row" hidden="@Sale">

                        <div id="mobile" class="col-3" />

                        <div class="col-3">
                            <div class="form-floating">
                                <InputDate @bind-Value="pageModel.SaleDateOfPurchase" class="form-control" />
                                <label for="SaleDateOfPurchase"> Sälj: Datum </label>
                                <ValidationMessage For="() => pageModel.SaleDateOfPurchase" class="text-danger" />
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-floating">
                                <InputNumber @bind-Value="pageModel.SaleHowMany" class="form-control" />
                                <label for="SaleHowMany"> Sälj: Antal </label>
                                <ValidationMessage For="() => pageModel.SaleHowMany" class="text-danger" />
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-floating">
                                <InputNumber @bind-Value="pageModel.SalePricePerShares" class="form-control" />
                                <label for="SalePricePerShares"> Sälj: Pris per aktie </label>
                                <ValidationMessage For="() => pageModel.SalePricePerShares" class="text-danger" />
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-floating">
                                <InputNumber @bind-Value="pageModel.SaleBrokerage" class="form-control" />
                                <label for="SaleBrokerage"> Sälj: Courtage </label>
                                <ValidationMessage For="() => pageModel.SaleBrokerage" class="text-danger" />
                            </div>
                        </div>

                    </div>

                    <br />

                    <div style="text-align:center" hidden="@ShowOrHideAddNewButton">
                        <button @onclick="HideNewOrChangesForm" type="submit" style="text-align:center" class="btn btn-outline-success btn-sm"> Lägg till köpt aktie </button>

                        <br />
                        <br />
                    </div>

                    <div style="text-align:center" hidden="@ShowOrHideEditButton">
                        <button @onclick="HideNewOrChangesForm" type="submit" style="text-align:center" class="btn btn-outline-warning btn-sm"> Ändra </button>

                        <br />
                        <br />
                    </div>

                    <div style="text-align:center" hidden="@ShowOrHideButtonAddMoreShares">
                        <button @onclick="AddMoreButton" type="button" style="text-align:center" class="btn btn-outline-success btn-sm"> Köp mer </button>

                        <br />
                        <br />
                    </div>

                    <div style="text-align:center" hidden="@ShowOrHideSaleButton">
                        <button @onclick="OpenWindowSale" type="button" style="text-align:center" class="btn btn-outline-danger btn-sm"> Sälja </button>

                        <div class="modal @ModalClassSale" tabindex="-1" role="dialog" style="display:@ModalDisplaySale">
                            <div class="modal-dialog" role="document" style="width:400px">
                                <div class="modal-content">
                                    
                                    <br />
                                    <h5> Vill du sälja aktien: <strong> @pageModel.CompanyName? </strong> </h5>
                                    <br />
                                    <h5> Antal aktier: <strong> @pageModel.SaleHowMany av @pageModel.HowMany </strong> </h5>
                                    <br />

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-danger" @onclick="@(() => SellButton(pageModel))"> Sälja </button>
                                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" @onclick="() => CloseWindowSale()"> Ångra </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @if (ShowBackdropSale)
                        {
                            <div class="modal-backdrop fade show"></div>
                        }

                        <br />
                        <br />
                    </div>

                    <div style="text-align:center">
                        <button @onclick="RefreshPage" type="button" style="text-align:center" class="btn btn-outline-secondary btn-sm"> Tillbaka </button>
                    </div>

                    <br />
                    <br />
                </EditForm>
            </div>

            @* View - Desktop *@
            <div id="desktop">
                <div class="card-body">
                    <QuickGrid Items="@queryable" Pagination="pagination">

                        <PropertyColumn Title="Datum" Property="@(c => c.DateOfPurchase)" Format="yyyy-MM-dd" Sortable="true" />
                        <PropertyColumn Title="Företag" Property="@(c => c.CompanyName)" Sortable="true" />
                        <PropertyColumn Title="Typ" Property="@(c => c.TypeOfShares)" Sortable="true" />
                        <PropertyColumn Title="Antal" Property="@(c => c.HowMany)" Sortable="true" />
                        <PropertyColumn Title="Pris per aktie (snitt vid köp av fler)" Property="@(c => c.PricePerShares)" Sortable="true" />
                        <PropertyColumn Title="Inköpsvärdet" Property="@(c => c.Amount)" Sortable="true" />
                        <PropertyColumn Title="Valuta" Property="@(c => c.Currency)" Sortable="true" />

                        <TemplateColumn Title="Info">

                            <div class="btn-group" role="group">
                                <button title="Info" id="btnGroupDrop1" type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Info
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <li class="dropdown-item"><button class="btn btn-outline-info btn-sm" @onclick="@(() => Info(context))"> All info </button></li>
                                    <li class="dropdown-item"><button class="btn btn-outline-warning btn-sm" @onclick="@(() => Edit(context))"> Ändra </button></li>
                                    <li class="dropdown-item"><button class="btn btn-outline-success btn-sm" @onclick="@(() => AddMore(context))"> Köp mera </button></li>
                                    <li class="dropdown-item"><button class="btn btn-outline-dark btn-sm" @onclick="@(() => Sell(context))"> Sälj </button></li>
                                    <li class="dropdown-item"><button class="btn btn-outline-danger btn-sm" @onclick="@(() => OpenWindowDelete(context))"> Ta bort </button></li>
                                </ul>
                            </div>

                            <div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <br />
                                            <h5 class="modal-title"> Vill du ta bort aktien? </h5>
                                            <br />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-danger" @onclick="@(() => Delete())"> Ta bort aktie </button>
                                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" @onclick="() => CloseWindowDelete()"> Ångra </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @if (ShowBackdrop)
                            {
                                <div class="modal-backdrop fade show"></div>
                            }

                        </TemplateColumn>
                    </QuickGrid>

                    <div class="card-footer"><Paginator State="@pagination" /></div>

                    <br />
                    <br />

                </div>
            </div>

            @* View - Mobile *@
            <div id="mobile">
                <div class="card-body">
                    <QuickGrid Items="@queryable" Pagination="pagination">

                        <PropertyColumn Title="Företag" Property="@(c => c.CompanyName)" Sortable="true" />

                        <TemplateColumn Title="Info">

                            <div class="btn-group" role="group">
                                <button title="Info" id="btnGroupDrop1" type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Info
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <li class="dropdown-item"><button class="btn btn-outline-info btn-sm" @onclick="@(() => Info(context))"> All info </button></li>
                                    <li class="dropdown-item"><button class="btn btn-outline-warning btn-sm" @onclick="@(() => Edit(context))"> Ändra </button></li>
                                    <li class="dropdown-item"><button class="btn btn-outline-success btn-sm" @onclick="@(() => AddMore(context))"> Köp mera </button></li>
                                    <li class="dropdown-item"><button class="btn btn-outline-dark btn-sm" @onclick="@(() => Sell(context))"> Sälj </button></li>
                                    <li class="dropdown-item"><button class="btn btn-outline-danger btn-sm" @onclick="@(() => OpenWindowDelete(context))"> Ta bort </button></li>
                                </ul>
                            </div>

                            <div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <br />
                                            <h5 class="modal-title"> Vill du ta bort aktien? </h5>
                                            <br />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-danger" @onclick="@(() => Delete())"> Ta bort aktie </button>
                                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" @onclick="() => CloseWindowDelete()"> Ångra </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @if (ShowBackdrop)
                            {
                                <div class="modal-backdrop fade show"></div>
                            }

                        </TemplateColumn>
                    </QuickGrid>

                    <br />
                    <br />

                </div>
            </div>

        </div>
    </div>
</div>

@* Footer *@
<div>

    <br />
    <br />

    <div class="footer" align="center">
        <p> Copyright 2023 - @DateTime.Now.Year</p>
    </div>

    <br />
    <br />

</div>

@* Back-End *@
@code
{
    [SupplyParameterFromForm]
    private SharesPurchasedViewModel pageModel { get; set; } = new();
    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
    private IQueryable<SharesPurchasedViewModel> queryable = Enumerable.Empty<SharesPurchasedViewModel>().AsQueryable();

    // Holds temporary id to delete items
    private int TemporaryId { get; set; } = 0;

    // Modol window settings
    public Guid Guid = Guid.NewGuid();
    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;

    public Guid GuidSale = Guid.NewGuid();
    public string ModalDisplaySale = "none;";
    public string ModalClassSale = "";
    public bool ShowBackdropSale = false;

    // Hide button and fields
    private bool HideNewOrChangesFields { get; set; } = false;
    private bool ShowOrHideCreateButton { get; set; } = false;
    private bool ShowOrHideEditButton { get; set; } = false;
    private bool ShowOrHideAddNewButton { get; set; } = false;
    private bool DisabledForm { get; set; } = false;
    private bool BuyMore { get; set; } = true;
    private bool ShowOrHideButtonAddMoreShares { get; set; } = true;
    private bool Sale { get; set; } = true;
    private bool ShowOrHideSaleButton { get; set; } = true;
    private bool ShowOrHideErrorMessage { get; set; } = true;

    // Text messeges
    private string ErrorMessage { get; set; } = string.Empty;

    // Load data from database to the Queryable container
    private void ConvertListToQueryable()
    {
        if (db.SharesPurchaseds.Count() == 0) return;

        queryable = Enumerable.Empty<SharesPurchasedViewModel>().AsQueryable();

        foreach (SharesPurchaseds model in db.SharesPurchaseds.OrderBy(c => c.DateOfPurchase))
        {
            SharesPurchasedViewModel vm = BackEndClass.ChangeFromModelToViewModel(model);
            queryable = queryable.Concat(new[] { vm }.AsQueryable());
        }

        pagination.TotalItemCountChanged += (sender, EventArgs) => StateHasChanged();
    }

    protected override void OnInitialized() => ConvertListToQueryable();

    private void HideNewOrChangesForm()
    {
        HideNewOrChangesFields = !HideNewOrChangesFields;
        ShowOrHideCreateButton = true;
        ShowOrHideEditButton = true;
    }

    private void RefreshPage() => Navigation.Refresh(true);

    private void AddOrEdit()
    {
        DisabledForm = false;

        if (pageModel.SharesPurchasedId > 0)
        {
            // Edit
            ErrorMessage = BackEndClass.Edit(db, pageModel);

            if (!string.IsNullOrEmpty(ErrorMessage))
            {
                HideNewOrChangesForm();
                ShowOrHideErrorMessage = false;
                ShowOrHideEditButton = false;
                return;
            }
            else
            {
                pageModel = new();
                Navigation.Refresh(true);
                return;
            }
        }
        else
        {
            // Add
            ErrorMessage = BackEndClass.Add(db, pageModel, false);

            if (!string.IsNullOrEmpty(ErrorMessage))
            {
                HideNewOrChangesForm();
                ShowOrHideErrorMessage = false;
                ShowOrHideEditButton = true;
                ShowOrHideAddNewButton = false;
                return;
            }
            else
            {
                pageModel = new();
                Navigation.Refresh(true);
                return;
            }
        }
    }

    private void AddMore(SharesPurchasedViewModel vm)
    {
        if (vm == null) return;

        HideNewOrChangesForm();
        BuyMore = false;
        DisabledForm = true;
        ShowOrHideButtonAddMoreShares = false;
        ShowOrHideAddNewButton = true;
        pageModel = vm;
    }

    private void AddMoreButton()
    {
        ErrorMessage = BackEndClass.AddMore(db, pageModel, false);

        if (!string.IsNullOrEmpty(ErrorMessage))
        {
            ShowOrHideErrorMessage = false;
            HideNewOrChangesFields = true;
            ShowOrHideEditButton = false;
            return;
        }
        else
        {
            pageModel = new();
            Navigation.Refresh(true);
            return;
        }
    }

    private void Info(SharesPurchasedViewModel vm)
    {
        if (vm == null) return;

        HideNewOrChangesForm();
        ShowOrHideAddNewButton = true;
        DisabledForm = true;
        pageModel = vm;
    }

    private void Edit(SharesPurchasedViewModel vm)
    {
        if (vm == null) return;

        DisabledForm = false;
        ShowOrHideEditButton = false;
        ShowOrHideAddNewButton = true;
        HideNewOrChangesFields = true;
        pageModel = vm;
    }

    private void Sell(SharesPurchasedViewModel vm)
    {
        if (vm == null) return;

        HideNewOrChangesForm();
        Sale = false;
        DisabledForm = true;
        ShowOrHideSaleButton = false;
        ShowOrHideAddNewButton = true;
        pageModel = vm;
    }

    private void SellButton(SharesPurchasedViewModel vm)
    {
        if (vm == null) return;

        ErrorMessage = BackEndClass.Sell(db, pageModel, false, ISharesFeeClass);

        if (!string.IsNullOrEmpty(ErrorMessage))
        {
            ShowOrHideErrorMessage = false;
            HideNewOrChangesFields = true;
            ShowOrHideEditButton = false;
            return;
        }
        else
        {
            pageModel = new();
            Navigation.Refresh(true);
            return;
        }
    }

    private void OpenWindowSale()
    {
        ModalDisplaySale = "block;";
        ModalClassSale = "Show";
        ShowBackdropSale = true;
        StateHasChanged();
    }

    private void CloseWindowSale()
    {
        ModalDisplaySale = "none";
        ModalClassSale = "";
        ShowBackdropSale = false;
        StateHasChanged();
    }

    private void Delete()
    {
        if (db.SharesPurchaseds.Count() == 0) return;

        bool findId = db.SharesPurchaseds.Any(a => a.SharesPurchasedId == TemporaryId);

        if (findId)
        {
            SharesPurchaseds model = db.SharesPurchaseds.FirstOrDefault(a => a.SharesPurchasedId == TemporaryId);
            SharesPurchasedViewModel vm = BackEndClass.ChangeFromModelToViewModel(model);

            ErrorMessage = BackEndClass.Delete(db, null, vm, false);

            if (!string.IsNullOrEmpty(ErrorMessage))
            {
                ShowOrHideErrorMessage = false;
                HideNewOrChangesFields = true;
                ShowOrHideEditButton = false;
                return;
            }
            else
            {
                pageModel = new();
                Navigation.Refresh(true);
                return;
            }
        }
    }

    private void OpenWindowDelete(SharesPurchasedViewModel vm)
    {
        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;
        StateHasChanged();
        TemporaryId = vm.SharesPurchasedId;
    }

    private void CloseWindowDelete()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }
}