@page "/SharesIndexYearsPage"

@using MyPrivateApp.Client.ViewModels
@using MyPrivateApp.Components.Enum
@using MyPrivateApp.Components.Shares.Classes
@using MyPrivateApp.Components.ViewModels.SharesViewModels
@using MyPrivateApp.Data
@using MyPrivateApp.Data.Models
@using Microsoft.AspNetCore.Components.QuickGrid
@using MyPrivateApp.Data.Models.SharesModels

@rendermode InteractiveServer

@inject ApplicationDbContext db
@inject NavigationManager Navigation
@inject ISharesIndexYearsClass BackEndClass

<PageTitle> Aktier </PageTitle>

@* Header *@
<div>

    <br />
    <br />

    @* Navigation - Desktop *@
    <div id="desktop" style="text-align:center">
        <div class="btn-group">
            <NavLink href="SharesIndexYearsPage" type="button" class="btn btn-outline-dark btn-sm"> Start </NavLink>
            <NavLink href="SharesImportsPage" type="button" class="btn btn-outline-dark btn-sm"> Importera </NavLink>
            <NavLink href="SharesPurchasedPage" type="button" class="btn btn-outline-dark btn-sm"> Köpta aktier </NavLink>
            <NavLink href="SharesSoldPage" type="button" class="btn btn-outline-dark btn-sm">Sålda aktier</NavLink>
            <NavLink href="SharesPurchasedFundsPage" type="button" class="btn btn-outline-dark btn-sm"> Köpta fonder </NavLink>
            <NavLink href="SharesSoldFundsPage" type="button" class="btn btn-outline-dark btn-sm"> Sålda fonder </NavLink>
            <NavLink href="SharesDividendPage" type="button" class="btn btn-outline-dark btn-sm">Utdelningar</NavLink>
            <NavLink href="SharesFeePage" type="button" class="btn btn-outline-dark btn-sm">Avgifter</NavLink>
            <NavLink href="SharesDepositMoneyPage" type="button" class="btn btn-outline-dark btn-sm"> Banköverföringar </NavLink>
            <NavLink href="SharesInterestRatesPage" type="button" class="btn btn-outline-dark btn-sm"> Räntor </NavLink>
            <NavLink href="SharesOtherImportsPage" type="button" class="btn btn-outline-dark btn-sm"> Manuell hantering </NavLink>
            <NavLink href="SharesErrorHandlingPage" type="button" class="btn btn-outline-dark btn-sm">Felhantering</NavLink>
        </div>
    </div>

    @* Navigation - Mobile *@
    <div id="mobile">
        <div class="btn-group" role="group">
            <button title="Info" id="btnGroupDrop1" type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Alla aktier sidor
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <li class="dropdown-item"><NavLink href="SharesIndexYearsPage" type="button" class="btn btn-outline-dark btn-sm"> Start </NavLink></li>
                <li class="dropdown-item"><NavLink href="SharesImportsPage" type="button" class="btn btn-outline-dark btn-sm"> Importera </NavLink></li>
                <li class="dropdown-item"><NavLink href="SharesPurchasedPage" type="button" class="btn btn-outline-dark btn-sm"> Köpta aktier </NavLink></li>
                <li class="dropdown-item"><NavLink href="SharesSoldPage" type="button" class="btn btn-outline-dark btn-sm">Sålda aktier</NavLink></li>
                <li class="dropdown-item"><NavLink href="SharesPurchasedFundsPage" type="button" class="btn btn-outline-dark btn-sm"> Köpta fonder </NavLink></li>
                <li class="dropdown-item"><NavLink href="SharesSoldFundsPage" type="button" class="btn btn-outline-dark btn-sm"> Sålda fonder </NavLink></li>
                <li class="dropdown-item"><NavLink href="SharesDividendPage" type="button" class="btn btn-outline-dark btn-sm">Utdelningar</NavLink></li>
                <li class="dropdown-item"><NavLink href="SharesFeePage" type="button" class="btn btn-outline-dark btn-sm">Avgifter</NavLink></li>
                <li class="dropdown-item"><NavLink href="SharesDepositMoneyPage" type="button" class="btn btn-outline-dark btn-sm"> Banköverföringar </NavLink></li>
                <li class="dropdown-item"><NavLink href="SharesInterestRatesPage" type="button" class="btn btn-outline-dark btn-sm"> Räntor </NavLink></li>
                <li class="dropdown-item"><NavLink href="SharesOtherImportsPage" type="button" class="btn btn-outline-dark btn-sm"> Manuell hantering </NavLink></li>
                <li class="dropdown-item"><NavLink href="SharesErrorHandlingPage" type="button" class="btn btn-outline-dark btn-sm">Felhantering</NavLink></li>
            </ul>
        </div>
    </div>

    <br />
    <br />

    <h1 style="text-align:center"> Resultat </h1>

    <br />

    <h3 style="text-align:center">Total vinst: @GetTotalProfitsOrLosses()</h3>

    <br />
    <br />

    <div style="text-align:center">
        <button class="btn btn-outline-success btn-sm" @onclick="@CalculateLastYearsResults"> Beräkna förra årets resultat </button>
    </div>

    <div style="text-align:center" hidden="@ShowOrHideErrorMessage">

        <br />
        <br />

        <Alert Color="AlertColor.Danger"> <Icon Name="IconName.ExclamationTriangleFill" class="me-2"></Icon> <b>@ErrorMessage</b> </Alert>

    </div>

    <br />
    <br />

</div>

@* Form and views *@
<div class="container">
    <div class="col-md-16">
        <div class="card">

            @* Form *@
            <div class="card-header">
                <EditForm Model="pageModel" FormName="CreateOrUpdate" Enhance hidden="@(!HideNewOrChangesFields)">

                    <DataAnnotationsValidator />

                    <ValidationSummary class="text-danger" role="alert" />

                    <div class="row">

                        <div id="mobile" class="col-4" />

                        <div class="col-4">
                            <div class="form-floating">
                                <InputText @bind-Value="pageModel.Year" class="form-control" placeholder="" disabled="@DisabledForm" />
                                <label for="Date"> År </label>
                                <ValidationMessage For="() => pageModel.Year" class="text-danger" />
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-floating">
                                <InputText @bind-Value="pageModel.MoneyProfitOrLossYear" class="form-control" disabled="@DisabledForm" />
                                <label for="MoneyProfitOrLossYear"> Vinst/förlust </label>
                                <ValidationMessage For="() => pageModel.MoneyProfitOrLossYear" class="text-danger" />
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-floating">
                                <InputText @bind-Value="pageModel.PercentProfitOrLossYear" class="form-control" disabled="@DisabledForm" />
                                <label for="PercentProfitOrLossYear"> Vinst/förlust i % </label>
                                <ValidationMessage For="() => pageModel.PercentProfitOrLossYear" class="text-danger" />
                            </div>
                        </div>

                    </div>

                    <br />

                    <div class="row">

                        <div id="mobile" class="col-3" />

                        <div class="col-3">
                            <div class="form-floating">
                                <InputText @bind-Value="pageModel.SharesYear" class="form-control" placeholder="" disabled="@DisabledForm" />
                                <label for="SharesYear"> Aktier </label>
                                <ValidationMessage For="() => pageModel.SharesYear" class="text-danger" />
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-floating">
                                <InputText @bind-Value="pageModel.FundsYear" class="form-control" disabled="@DisabledForm" />
                                <label for="FundsYear"> Fonder </label>
                                <ValidationMessage For="() => pageModel.FundsYear" class="text-danger" />
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-floating">
                                <InputText @bind-Value="pageModel.DividendYear" class="form-control" disabled="@DisabledForm" />
                                <label for="DividendYear"> Utdelning </label>
                                <ValidationMessage For="() => pageModel.DividendYear" class="text-danger" />
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-floating">
                                <InputText @bind-Value="pageModel.InterestRatesYear" class="form-control" disabled="@DisabledForm" />
                                <label for="InterestRatesYear"> Ränta </label>
                                <ValidationMessage For="() => pageModel.InterestRatesYear" class="text-danger" />
                            </div>
                        </div>

                    </div>

                    <br />

                    <div class="row">

                        <div id="mobile" class="col-6" />

                        <div class="col-6">
                            <div class="form-floating">
                                <InputText @bind-Value="pageModel.FeeYear" class="form-control" placeholder="" disabled="@DisabledForm" />
                                <label for="FeeYear"> Skatt </label>
                                <ValidationMessage For="() => pageModel.FeeYear" class="text-danger" />
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-floating">
                                <InputText @bind-Value="pageModel.BrokerageYear" class="form-control" disabled="@DisabledForm" />
                                <label for="BrokerageYear"> Courtage </label>
                                <ValidationMessage For="() => pageModel.BrokerageYear" class="text-danger" />
                            </div>
                        </div>

                    </div>

                    <br />

                    <div class="row">

                        <div class="col-12">
                            <div class="form-floating">
                                <InputTextArea rows="4" style="height:100%;" @bind-Value="pageModel.Note" class="form-control" disabled="@DisabledForm" />
                                <label for="Note"> Anteckningar </label>
                                <ValidationMessage For="() => pageModel.Note" class="text-danger" />
                            </div>
                        </div>
                    </div>

                    <br />

                    <div style="text-align:center">
                        <button @onclick="RefreshPage" type="submit" style="text-align:center" class="btn btn-outline-secondary btn-sm"> Tillbaka </button>
                    </div>

                    <br />
                    <br />
                </EditForm>
            </div>

            @* View - Desktop *@
            <div id="desktop">
                <div id="desktop" class="card-body">
                    <QuickGrid Items="@queryable" Pagination="pagination">

                        <PropertyColumn Title="År" Property="@(c => c.Year)" Sortable="true" />
                        <PropertyColumn Title="Vinst/förlust" Property="@(c => c.MoneyProfitOrLossYear)" Sortable="true" />
                        <PropertyColumn Title="Vinst/förlust i %" Property="@(c => c.PercentProfitOrLossYear)" Sortable="true" />
                        <PropertyColumn Title="Aktier" Property="@(c => c.SharesYear)" Sortable="true" />
                        <PropertyColumn Title="Fonder" Property="@(c => c.FundsYear)" Sortable="true" />
                        <PropertyColumn Title="Utdelning" Property="@(c => c.DividendYear)" Sortable="true" />
                        <TemplateColumn Title="Info">

                            <div class="btn-group" role="group">
                                <button title="Info" id="btnGroupDrop1" type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Info
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <li class="dropdown-item"><button class="btn btn-outline-info btn-sm" @onclick="@(() => Info(context))"> All info </button></li>
                                    <li class="dropdown-item"><button class="btn btn-outline-danger btn-sm" @onclick="@(() => OpenDeleteWindow(context))"> Ta bort </button></li>
                                </ul>
                            </div>

                            <div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"> Vill du ta bort @pageModel.Year resultat? </h5>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-danger" @onclick="@(() => Delete())"> Ta bort </button>
                                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" @onclick="() => CloseWindow()"> Ångra </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @if (ShowBackdrop)
                            {
                                <div class="modal-backdrop fade show"></div>
                            }

                        </TemplateColumn>
                    </QuickGrid>

                    <div class="card-footer"><Paginator State="@pagination" /></div>

                    <br />
                    <br />

                </div>
            </div>

            @* View - Mobile *@
            <div id="mobile">
                <div class="card-body">
                    <QuickGrid Items="@queryable" Pagination="pagination">

                        <PropertyColumn Title="År" Property="@(c => c.Year)" Sortable="true" />
                        <PropertyColumn Title="%" Property="@(c => c.PercentProfitOrLossYear)" Sortable="true" />
                        <TemplateColumn Title="Info">

                            <div class="btn-group" role="group">
                                <button title="Info" id="btnGroupDrop1" type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Info
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <li class="dropdown-item"><button class="btn btn-outline-info btn-sm" @onclick="@(() => Info(context))"> All info </button></li>
                                    <li class="dropdown-item"><button class="btn btn-outline-danger btn-sm" @onclick="@(() => OpenDeleteWindow(context))"> Ta bort </button></li>
                                </ul>
                            </div>

                            <div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"> Vill du ta bort @pageModel.Year resultat? </h5>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-danger" @onclick="@(() => Delete())"> Ta bort </button>
                                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" @onclick="() => CloseWindow()"> Ångra </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @if (ShowBackdrop)
                            {
                                <div class="modal-backdrop fade show"></div>
                            }

                        </TemplateColumn>
                    </QuickGrid>

                    <br />
                    <br />

                </div>
            </div>
        </div>
    </div>
</div>

@* Footer *@
<div>

    <br />
    <br />

    <div class="footer" align="center">
        <p> Copyright 2023 - @DateTime.Now.Year</p>
    </div>

    <br />
    <br />

</div>

@* Back-End *@
@code
{
    [SupplyParameterFromForm]
    private SharesProfitOrLossYearViewModel pageModel { get; set; } = new();
    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
    private IQueryable<SharesProfitOrLossYearViewModel> queryable = Enumerable.Empty<SharesProfitOrLossYearViewModel>().AsQueryable();

    // Holds temporary id to delete items
    private int TemporaryId { get; set; } = 0;

    // Modol window settings
    public Guid Guid = Guid.NewGuid();
    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;

    // Hide button and fields
    private bool HideNewOrChangesFields { get; set; } = false;
    private bool ShowOrHideCreateButton { get; set; } = false;
    private bool ShowOrHideEditButton { get; set; } = false;
    private bool ShowOrHideAddNewButton { get; set; } = false;
    private bool DisabledForm { get; set; } = false;
    private bool ShowOrHideErrorMessage { get; set; } = true;

    // Text messeges
    private string ErrorMessage { get; set; } = string.Empty;

    // Load data from database to the Queryable container
    private void ConvertListToQueryable()
    {
        if (db.SharesProfitOrLossYears.Count() == 0) return;

        queryable = Enumerable.Empty<SharesProfitOrLossYearViewModel>().AsQueryable();

        foreach (SharesProfitOrLossYears model in db.SharesProfitOrLossYears.OrderBy(c => c.DividendYear))
        {
            SharesProfitOrLossYearViewModel vm = BackEndClass.ChangeFromModelToViewModel(model);
            queryable = queryable.Concat(new[] { vm }.AsQueryable()).OrderByDescending(c => c.SharesYear);
        }

        pagination.TotalItemCountChanged += (sender, EventArgs) => StateHasChanged();
    }

    protected override void OnInitialized() => ConvertListToQueryable();

    private void HideNewOrChangesForm()
    {
        HideNewOrChangesFields = !HideNewOrChangesFields;
        ShowOrHideCreateButton = true;
        ShowOrHideEditButton = true;
    }

    private void RefreshPage() => Navigation.Refresh(true);

    private void Info(SharesProfitOrLossYearViewModel vm)
    {
        HideNewOrChangesForm();
        ShowOrHideAddNewButton = true;
        DisabledForm = true;
        pageModel = vm;
    }

    private void Delete()
    {
        if (db.SharesProfitOrLossYears.Count() == 0) return;

        bool findId = db.SharesProfitOrLossYears.Any(a => a.SharesProfitOrLossYearsId == TemporaryId);

        if (findId)
        {
            SharesProfitOrLossYears model = db.SharesProfitOrLossYears.FirstOrDefault(a => a.SharesProfitOrLossYearsId == TemporaryId);
            SharesProfitOrLossYearViewModel vm = BackEndClass.ChangeFromModelToViewModel(model);

            ErrorMessage = BackEndClass.Delete(db, vm);

            if (!string.IsNullOrEmpty(ErrorMessage))
            {
                ShowOrHideErrorMessage = false;
                return;
            }
            else
            {
                pageModel = new();
                Navigation.Refresh(true);
                return;
            }
        }
    }

    private void OpenDeleteWindow(SharesProfitOrLossYearViewModel vm)
    {
        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;
        StateHasChanged();
        TemporaryId = vm.SharesProfitOrLossYearsId;
    }

    private void CloseWindow()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }

    private void CalculateLastYearsResults()
    {
        ErrorMessage = BackEndClass.CalculateLastYearsResults(db);

        if (!string.IsNullOrEmpty(ErrorMessage))
        {
            ShowOrHideErrorMessage = false;
            return;
        }
        else
        {
            pageModel = new();
            Navigation.Refresh(true);
            return;
        }
    }

    private string GetTotalProfitsOrLosses()
    {
        SharesTotalProfitsOrLosses sharesTotalProfitsOrLosses = BackEndClass.GetTotalProfitsOrLosses(db, 1);

        if (sharesTotalProfitsOrLosses == null) return string.Empty;

        string sum = sharesTotalProfitsOrLosses.TotalProfitOrLoss.ToString("#,##0.00");

        return sum;
    }
}