@page "/SharesPurchasedPage"

@using MyPrivateApp.Components.Enum
@using MyPrivateApp.Components.Shares.Classes
@using MyPrivateApp.Components.ViewModels.SharesViewModels
@using MyPrivateApp.Data
@using MyPrivateApp.Data.Models
@using Microsoft.AspNetCore.Components.QuickGrid
@using MyPrivateApp.Data.Models.SharesModels

@rendermode InteractiveServer

@inject ApplicationDbContext db
@inject NavigationManager Navigation
@inject ISharesPurchasedClass SharesPurchasedClass
@inject ISharesFeeClass ISharesFeeClass

<PageTitle> Aktier </PageTitle>

<br />

<div class="btn-group" role="group">
    <button title="Info" id="btnGroupDrop1" type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Alla aktier sidor
    </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <li class="dropdown-item"><NavLink href="SharesPage" type="button" class="btn btn-outline-dark btn-sm"> Start </NavLink></li>
        <li class="dropdown-item"><NavLink href="SharesPurchasedPage" type="button" class="btn btn-outline-dark btn-sm"> Köpta aktier </NavLink></li>
        <li class="dropdown-item"><NavLink href="SharesSoldPage" type="button" class="btn btn-outline-dark btn-sm">Sålda aktier</NavLink></li>
        <li class="dropdown-item"><NavLink href="SharesDividendPage" type="button" class="btn btn-outline-dark btn-sm">Utdelningar</NavLink></li>
        <li class="dropdown-item"><NavLink href="SharesFeePage" type="button" class="btn btn-outline-dark btn-sm">Avgifter</NavLink></li>
        <li class="dropdown-item"><NavLink href="SharesImportsPage" type="button" class="btn btn-outline-dark btn-sm"> Importera </NavLink></li>
        <li class="dropdown-item"><NavLink href="SharesDepositMoneyPage" type="button" class="btn btn-outline-dark btn-sm"> Ta ut eller sätt in pengar </NavLink></li>
        <li class="dropdown-item"><NavLink href="SharesInterestRatesPage" type="button" class="btn btn-outline-dark btn-sm"> Räntor </NavLink></li>
        <li class="dropdown-item"><NavLink href="SharesOtherImportsPage" type="button" class="btn btn-outline-dark btn-sm"> Manuell hantering </NavLink></li>
        <li class="dropdown-item"><NavLink href="SharesErrorHandlingPage" type="button" class="btn btn-outline-dark btn-sm">Felhantering</NavLink></li>
    </ul>
</div>

<br />
<br />

<h1 style="text-align:center"> Köpta aktier </h1>

<br />

<div style="text-align:center" hidden="@ShowOrHideCreateButton">
    <button class="btn btn-outline-success btn-sm" @onclick="@HideNewOrChangesForm">Köp aktie</button>

    <br />
    <br />
</div>

<div class="container">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <EditForm Model="sharesPurchased" OnSubmit="AddOrUpdate" FormName="AddOrUpdatePurchasedShares" Enhance hidden="@(!HideNewOrChangesFields)">

                     <DataAnnotationsValidator />

                     <ValidationSummary class="text-danger" role="alert" />

                     <br />

                     <div class="row">

                         <div id="mobile" class="col-4" />

                         <div class="col-4">
                             <div class="form-floating">
                                 <InputText @bind-Value="sharesPurchased.CompanyName" class="form-control" disabled="@DisabledForm" />
                                 <label for="CompanyName"> Företag </label>
                                 <ValidationMessage For="() => sharesPurchased.CompanyName" class="text-danger" />
                             </div>
                         </div>

                         <div class="col-4">
                             <div class="form-floating">
                                 <InputText @bind-Value="sharesPurchased.TypeOfShares" class="form-control" disabled="@DisabledForm" />
                                 <label for="TypeOfShares"> Typ av aktie </label>
                                 <ValidationMessage For="() => sharesPurchased.TypeOfShares" class="text-danger" />
                             </div>
                         </div>

                         <div class="col-4">
                             <div class="form-floating">
                                 <InputText @bind-Value="sharesPurchased.ISIN" class="form-control" disabled="@DisabledForm" />
                                 <label for="ISIN"> ISIN </label>
                                 <ValidationMessage For="() => sharesPurchased.ISIN" class="text-danger" />
                             </div>
                         </div>

                     </div>

                     <br />

                     <div class="row">

                         <div id="mobile" class="col-4" />

                         <div class="col-4">
                             <div class="form-floating">
                                 <InputDate @bind-Value="sharesPurchased.DateOfPurchase" class="form-control" disabled="@DisabledForm" />
                                 <label for="DateOfPurchase"> Datum </label>
                                 <ValidationMessage For="() => sharesPurchased.DateOfPurchase" class="text-danger" />
                             </div>
                         </div>

                         <div class="col-4">
                             <div class="form-floating">
                                 <InputText @bind-Value="sharesPurchased.Account" class="form-control" disabled="@DisabledForm" />
                                 <label for="Account"> Konto </label>
                                 <ValidationMessage For="() => sharesPurchased.Account" class="text-danger" />
                             </div>
                         </div>

                         <div class="col-4">
                             <div class="form-floating">
                                 <InputText @bind-Value="sharesPurchased.Currency" class="form-control" disabled="@DisabledForm" />
                                 <label for="Currency"> Valuta </label>
                                 <ValidationMessage For="() => sharesPurchased.Currency" class="text-danger" />
                             </div>
                         </div>

                     </div>

                     <br />

                     <div class="row">

                         <div id="mobile" class="col-3" />

                         <div class="col-3">
                             <div class="form-floating">
                                 <InputNumber @bind-Value="sharesPurchased.HowMany" class="form-control" disabled="@DisabledForm" />
                                 <label for="HowMany"> Antal </label>
                                 <ValidationMessage For="() => sharesPurchased.HowMany" class="text-danger" />
                             </div>
                         </div>

                         <div class="col-3">
                             <div class="form-floating">
                                 <InputNumber @bind-Value="sharesPurchased.PricePerShares" class="form-control" disabled="@DisabledForm" />
                                 <label for="PricePerShares"> Pris per aktie (snitt vid köp av fler) </label>
                                 <ValidationMessage For="() => sharesPurchased.PricePerShares" class="text-danger" />
                             </div>
                         </div>

                         <div class="col-3">
                             <div class="form-floating">
                                 <InputNumber @bind-Value="sharesPurchased.Amount" class="form-control" disabled="true" />
                                 <label for="Amount"> Inköpsvärdet </label>
                                 <ValidationMessage For="() => sharesPurchased.Amount" class="text-danger" />
                             </div>
                         </div>

                         <div class="col-3">
                             <div class="form-floating">
                                 <InputNumber @bind-Value="sharesPurchased.Brokerage" class="form-control" disabled="@DisabledForm" />
                                 <label for="Brokerage"> Courtage </label>
                                 <ValidationMessage For="() => sharesPurchased.Brokerage" class="text-danger" />
                             </div>
                         </div>

                     </div>

                     <br />

                     <div class="row">

                         <div class="col-12">
                             <div class="form-floating">
                                 <InputTextArea @bind-Value="sharesPurchased.Note" class="form-control" disabled="@DisabledForm" />
                                 <label for="Note"> Anteckningar </label>
                                 <ValidationMessage For="() => sharesPurchased.Note" class="text-danger" />
                             </div>
                         </div>

                     </div>

                     <br />

                     <div class="row" hidden="@BuyMore">

                         <div id="mobile" class="col-3" />

                         <div class="col-3">
                             <div class="form-floating">
                                 <InputDate @bind-Value="sharesPurchased.MoreDateOfPurchase" class="form-control" />
                                 <label for="MoreDateOfPurchase"> Köp mer: Datum </label>
                                 <ValidationMessage For="() => sharesPurchased.MoreDateOfPurchase" class="text-danger" />
                             </div>
                         </div>

                         <div class="col-3">
                             <div class="form-floating">
                                 <InputNumber @bind-Value="sharesPurchased.MoreHowMany" class="form-control" />
                                 <label for="MoreHowMany"> Köp mer: Antal </label>
                                 <ValidationMessage For="() => sharesPurchased.MoreHowMany" class="text-danger" />
                             </div>
                         </div>

                         <div class="col-3">
                             <div class="form-floating">
                                 <InputNumber @bind-Value="sharesPurchased.MorePricePerShares" class="form-control" />
                                 <label for="MorePricePerShares"> Köp mer: Pris per aktie </label>
                                 <ValidationMessage For="() => sharesPurchased.MorePricePerShares" class="text-danger" />
                             </div>
                         </div>

                         <div class="col-3">
                             <div class="form-floating">
                                 <InputNumber @bind-Value="sharesPurchased.MoreBrokerage" class="form-control" />
                                 <label for="MoreBrokerage"> Köp mer: Courtage </label>
                                 <ValidationMessage For="() => sharesPurchased.MoreBrokerage" class="text-danger" />
                             </div>
                         </div>

                     </div>

                     <div class="row" hidden="@Sale">

                         <div id="mobile" class="col-3" />

                         <div class="col-3">
                             <div class="form-floating">
                                 <InputDate @bind-Value="sharesPurchased.SaleDateOfPurchase" class="form-control" />
                                 <label for="SaleDateOfPurchase"> Sälj: Datum </label>
                                 <ValidationMessage For="() => sharesPurchased.SaleDateOfPurchase" class="text-danger" />
                             </div>
                         </div>

                         <div class="col-3">
                             <div class="form-floating">
                                 <InputNumber @bind-Value="sharesPurchased.SaleHowMany" class="form-control" />
                                 <label for="SaleHowMany"> Sälj: Antal </label>
                                 <ValidationMessage For="() => sharesPurchased.SaleHowMany" class="text-danger" />
                             </div>
                         </div>

                         <div class="col-3">
                             <div class="form-floating">
                                 <InputNumber @bind-Value="sharesPurchased.SalePricePerShares" class="form-control" />
                                 <label for="SalePricePerShares"> Sälj: Pris per aktie </label>
                                 <ValidationMessage For="() => sharesPurchased.SalePricePerShares" class="text-danger" />
                             </div>
                         </div>

                         <div class="col-3">
                             <div class="form-floating">
                                 <InputNumber @bind-Value="sharesPurchased.SaleBrokerage" class="form-control" />
                                 <label for="SaleBrokerage"> Sälj: Courtage </label>
                                 <ValidationMessage For="() => sharesPurchased.SaleBrokerage" class="text-danger" />
                             </div>
                         </div>

                     </div>

                     <br />

                     <div style="text-align:center" hidden="@ShowOrHideAddNewButton">
                         <button @onclick="HideNewOrChangesForm" type="submit" style="text-align:center" class="btn btn-outline-success btn-sm"> Lägg till köpt aktie </button>

                         <br />
                         <br />
                     </div>

                     <div style="text-align:center" hidden="@ShowOrHideEditButton">
                         <button @onclick="HideNewOrChangesForm" type="submit" style="text-align:center" class="btn btn-outline-warning btn-sm"> Ändra </button>
                         
                         <br />
                         <br />
                     </div>

                     <div style="text-align:center" hidden="@ShowOrHideButtonAddMoreShares">
                         <button @onclick="AddMoreButton" type="button" style="text-align:center" class="btn btn-outline-success btn-sm"> Köp mer </button>

                         <br />
                         <br />
                     </div>

                     <div style="text-align:center" hidden="@ShowOrHideSaleButton">
                         <button @onclick="OpenWindowSale" type="button" style="text-align:center" class="btn btn-outline-danger btn-sm"> Sälja </button>

                         <div class="modal @ModalClassSale" tabindex="-1" role="dialog" style="display:@ModalDisplaySale">
                             <div class="modal-dialog" role="document" style="width:400px">
                                 <div class="modal-content">

                                    <h5> Vill du sälja aktien: <strong> @sharesPurchased.CompanyName? </strong> </h5>
                                    <h5> Antal aktier: <strong> @sharesPurchased.SaleHowMany av @sharesPurchased.HowMany? </strong> </h5>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-danger" @onclick="@(() => SellButton(sharesPurchased))"> Sälja </button>
                                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" @onclick="() => CloseWindowSale()"> Ångra </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @if (ShowBackdropSale)
                        {
                            <div class="modal-backdrop fade show"></div>
                        }

                        <br />
                        <br />
                    </div>

                    <div style="text-align:center">
                        <button @onclick="RefreshPage" type="button" style="text-align:center" class="btn btn-outline-secondary btn-sm"> Tillbaka </button>
                    </div>

                    <br />
                    <br />
                </EditForm>
            </div>

            @* Desktop screen *@
            <div id="desktop">
                <div class="card-body">
                    <QuickGrid Items="@PurchasedSharesQueryable" Pagination="pagination">

                        <PropertyColumn Title="Datum" Property="@(c => c.DateOfPurchase)" Format="yyyy-MM-dd" Sortable="true" />
                        <PropertyColumn Title="Företag" Property="@(c => c.CompanyName)" Sortable="true" />
                        <PropertyColumn Title="Typ" Property="@(c => c.TypeOfShares)" Sortable="true" />
                        <PropertyColumn Title="Antal" Property="@(c => c.HowMany)" Sortable="true" />
                        <PropertyColumn Title="Pris per aktie (snitt vid köp av fler)" Property="@(c => c.PricePerShares)" Sortable="true" />
                        <PropertyColumn Title="Inköpsvärdet" Property="@(c => c.Amount)" Sortable="true" />
                        <PropertyColumn Title="Valuta" Property="@(c => c.Currency)" Sortable="true" />

                        <TemplateColumn Title="Info">

                            <div class="btn-group" role="group">
                                <button title="Info" id="btnGroupDrop1" type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Info
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <li class="dropdown-item"><button class="btn btn-outline-info btn-sm" @onclick="@(() => Info(context))"> All info </button></li>
                                    <li class="dropdown-item"><button class="btn btn-outline-warning btn-sm" @onclick="@(() => Edit(context))"> Ändra </button></li>
                                    <li class="dropdown-item"><button class="btn btn-outline-success btn-sm" @onclick="@(() => AddMore(context))"> Köp mera </button></li>
                                    <li class="dropdown-item"><button class="btn btn-outline-dark btn-sm" @onclick="@(() => Sell(context))"> Sälj </button></li>
                                    <li class="dropdown-item"><button class="btn btn-outline-danger btn-sm" @onclick="@(() => OpenWindowDelete())"> Ta bort </button></li>
                                </ul>
                            </div>

                            <div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"> Vill du ta bort aktien? </h5>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-danger" @onclick="@(() => Delete(context))"> Ta bort kontakt </button>
                                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" @onclick="() => CloseWindowDelete()"> Ångra </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @if (ShowBackdrop)
                            {
                                <div class="modal-backdrop fade show"></div>
                            }

                        </TemplateColumn>
                    </QuickGrid>

                    <div class="card-footer"><Paginator State="@pagination" /></div>

                    <br />
                    <br />

                </div>
            </div>

            @* Mobile streen *@
            <div id="mobile">
                <div class="card-body">
                    <QuickGrid Items="@PurchasedSharesQueryable" Pagination="pagination">

                        <PropertyColumn Title="Företag" Property="@(c => c.CompanyName)" Sortable="true" />

                        <TemplateColumn Title="Info">

                            <div class="btn-group" role="group">
                                <button title="Info" id="btnGroupDrop1" type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Info
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <li class="dropdown-item"><button class="btn btn-outline-info btn-sm" @onclick="@(() => Info(context))"> All info </button></li>
                                    <li class="dropdown-item"><button class="btn btn-outline-warning btn-sm" @onclick="@(() => Edit(context))"> Ändra </button></li>
                                    <li class="dropdown-item"><button class="btn btn-outline-success btn-sm" @onclick="@(() => AddMore(context))"> Köp mera </button></li>
                                    <li class="dropdown-item"><button class="btn btn-outline-dark btn-sm" @onclick="@(() => Sell(context))"> Sälj </button></li>
                                    <li class="dropdown-item"><button class="btn btn-outline-danger btn-sm" @onclick="@(() => OpenWindowDelete())"> Ta bort </button></li>
                                </ul>
                            </div>

                            <div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"> Vill du ta bort aktien? </h5>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-danger" @onclick="@(() => Delete(context))"> Ta bort kontakt </button>
                                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" @onclick="() => CloseWindowDelete()"> Ångra </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @if (ShowBackdrop)
                            {
                                <div class="modal-backdrop fade show"></div>
                            }

                        </TemplateColumn>
                    </QuickGrid>

                    <div class="card-footer"><Paginator State="@pagination" /></div>

                    <br />
                    <br />

                </div>
            </div>

        </div>
    </div>
</div>

<br />
<br />

<div class="footer" align="center">
    <p> Copyright 2023 - @DateTime.Now.Year</p>
</div>

<br />
<br />

@code
{
    [SupplyParameterFromForm]
    private SharesPurchasedViewModel sharesPurchased { get; set; } = new();

    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
    private IQueryable<SharesPurchasedViewModel> PurchasedSharesQueryable = Enumerable.Empty<SharesPurchasedViewModel>().AsQueryable();

    // Modol window settings
    public Guid Guid = Guid.NewGuid();
    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;

    public Guid GuidSale = Guid.NewGuid();
    public string ModalDisplaySale = "none;";
    public string ModalClassSale = "";
    public bool ShowBackdropSale = false;

    // Hide button and fields
    private bool HideNewOrChangesFields { get; set; } = false;
    private bool ShowOrHideCreateButton { get; set; } = false;
    private bool ShowOrHideEditButton { get; set; } = false;
    private bool ShowOrHideAddNewButton { get; set; } = false;
    private bool DisabledForm { get; set; } = false;
    private bool BuyMore { get; set; } = true;
    private bool ShowOrHideButtonAddMoreShares { get; set; } = true;
    private bool Sale { get; set; } = true;
    private bool ShowOrHideSaleButton { get; set; } = true;

    // Load data from database to the Queryable container
    private void ConvertListToQueryable()
    {
        if (db.SharesPurchaseds.Count() == 0) return;

        PurchasedSharesQueryable = Enumerable.Empty<SharesPurchasedViewModel>().AsQueryable();

        foreach (SharesPurchaseds model in db.SharesPurchaseds.OrderBy(c => c.SharesPurchasedId))
        {
            SharesPurchasedViewModel sharesPurchased = SharesPurchasedClass.ChangeFromModelToViewModel(model);
            PurchasedSharesQueryable = PurchasedSharesQueryable.Concat(new[] { sharesPurchased }.AsQueryable());
        }

        pagination.TotalItemCountChanged += (sender, EventArgs) => StateHasChanged();
    }

    protected override void OnInitialized() => ConvertListToQueryable();

    private void HideNewOrChangesForm()
    {
        HideNewOrChangesFields = !HideNewOrChangesFields;
        ShowOrHideCreateButton = true;
        ShowOrHideEditButton = true;
    }

    private void RefreshPage() => Navigation.Refresh(true);

    private void AddOrUpdate()
    {
        DisabledForm = false;

        if (sharesPurchased.SharesPurchasedId > 0)
        {
            ShowOrHideCreateButton = true;

            SharesPurchasedClass.Update(db, sharesPurchased);
        }
        else
            SharesPurchasedClass.Add(db, sharesPurchased, false);

        sharesPurchased = new();
        Navigation.Refresh(true);

        return;
    }

    private void AddMore(SharesPurchasedViewModel vm)
    {
        if (vm == null) return;

        HideNewOrChangesForm();
        BuyMore = false;
        DisabledForm = true;
        ShowOrHideButtonAddMoreShares = false;
        ShowOrHideAddNewButton = true;
        sharesPurchased = vm;
    }

    private void AddMoreButton()
    {
        SharesPurchasedClass.AddMore(db, sharesPurchased, false);

        sharesPurchased = new();
        Navigation.Refresh(true);
    }

    private void Info(SharesPurchasedViewModel vm)
    {
        if (vm == null) return;

        HideNewOrChangesForm();
        ShowOrHideAddNewButton = true;
        DisabledForm = true;
        sharesPurchased = vm;
    }

    private void Edit(SharesPurchasedViewModel vm)
    {
        if (vm == null) return;

        DisabledForm = false;
        ShowOrHideEditButton = false;
        ShowOrHideAddNewButton = true;
        HideNewOrChangesFields = true;
        sharesPurchased = vm;
    }

    private void Sell(SharesPurchasedViewModel vm)
    {
        if (vm == null) return;

        HideNewOrChangesForm();
        Sale = false;
        DisabledForm = true;
        ShowOrHideSaleButton = false;
        ShowOrHideAddNewButton = true;
        sharesPurchased = vm;
    }

    private void SellButton(SharesPurchasedViewModel vm)
    {
        if (vm == null) return;

        SharesPurchasedClass.Sell(db, sharesPurchased, false, ISharesFeeClass);

        sharesPurchased = new();
        Navigation.Refresh(true);
    }

    private void OpenWindowSale()
    {
        ModalDisplaySale = "block;";
        ModalClassSale = "Show";
        ShowBackdropSale = true;
        StateHasChanged();
    }

    private void CloseWindowSale()
    {
        ModalDisplaySale = "none";
        ModalClassSale = "";
        ShowBackdropSale = false;
        StateHasChanged();
    }
    
    private void Delete(SharesPurchasedViewModel vm)
    {
        if (vm == null) return;

        if (db.SharesPurchaseds.Count() == 0) return;

        SharesPurchasedClass.Delete(db, vm, false);

        Navigation.Refresh(true);
    }

    private void OpenWindowDelete()
    {
        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;
        StateHasChanged();
    }

    private void CloseWindowDelete()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }
}