@page "/MZSoldPlayersPage"

@using Microsoft.EntityFrameworkCore
@using MyPrivateApp.Components.Games.ManagerZone.Classes
@using MyPrivateApp.Components.ViewModels
@using MyPrivateApp.Components.ViewModels.Games.ManagerZone
@using MyPrivateApp.Data
@using MyPrivateApp.Data.Models
@using Microsoft.AspNetCore.Components.QuickGrid
@using MyPrivateApp.Data.Models.Games.ManagerZone
@using static Microsoft.EntityFrameworkCore.EntityFrameworkQueryableExtensions;

@rendermode @(new InteractiveServerRenderMode(prerender:false))

@inject NavigationManager Navigation
@inject IMZSoldClass BackEndClass
@inject IDbContextFactory<ApplicationDbContext> IDbContextFactory

<PageTitle> ManagerZone </PageTitle>

@try
{
    @* Header *@
    <div>

        <br />

        @* Navigation*@
        <div align="center">
            <div class="btn-group">
                <NavLink href="MZPurchasedPlayersPage" type="button" class="btn btn-outline-dark btn-sm"> Köpta spelare </NavLink>
            </div>
        </div>

        <br />

        <h1 align="center"> Sålda spelare </h1>

        @if (ShowOrHideErrorMessage)
        {
            <div align="center">
                <Alert Color="AlertColor.Danger">
                    <Icon Name="IconName.ExclamationTriangleFill" class="me-2"></Icon>
                    <b>@ErrorMessage</b>
                </Alert>
            </div>
        }

        @if (ShowOrHideInfoMessage)
        {
            <br />

            <div align="center">
                <Alert Color="AlertColor.Info">
                    <b>@InfoMessage</b>
                </Alert>
            </div>
        }

        <br />

    </div>

    @* Form and views *@
    <div class="container">
        <div class="col-md-12">
            <div class="card">

                @* Form *@
                <div>
                    @if (ShowOrHideEditForm)
                    {
                        <div class="card-header">
                            <EditForm Model="pageViewModel" OnSubmit="OnlyEdit" Enhance>

                                <br />

                                <div class="row">

                                    <div id="mobile" class="col-4" />
                                    @if (pageViewModel != null)
                                    {
                                        <div class="col-4">
                                            <div class="form-floating">
                                                <InputText @bind-Value="pageViewModel.Name" class="form-control" disabled="@DisabledForm" />
                                                <label for="Name"> Namn </label>
                                            </div>
                                        </div>

                                        <div class="col-4">
                                            <div class="form-floating">
                                                <InputNumber @bind-Value="pageViewModel.YearsOld" class="form-control" placeholder="" disabled="@DisabledForm" />
                                                <label for="YearsOld"> Ålder </label>
                                            </div>
                                        </div>

                                        <div class="col-4">
                                            <div class="form-floating">
                                                <InputNumber @bind-Value="pageViewModel.Number" class="form-control" placeholder="" disabled="@DisabledForm" />
                                                <label for="Number"> Nummer </label>
                                            </div>
                                        </div>
                                    }
                                </div>

                                <br />

                                <div class="row">

                                    <div id="mobile" class="col-4" />
                                    @if (pageViewModel != null)
                                    {
                                        <div class="col-4">
                                            <div class="form-floating">
                                                <InputDate @bind-Value="pageViewModel.PurchasedDate" class="form-control" disabled="@DisabledForm" />
                                                <label for="PurchasedDate"> Inköpsdatum </label>
                                            </div>
                                        </div>

                                        <div class="col-4">
                                            <div class="form-floating">
                                                <InputDate @bind-Value="pageViewModel.SoldDate" class="form-control" placeholder="" disabled="@DisabledForm" />
                                                <label for="SoldDate"> Säljdatum </label>
                                            </div>
                                        </div>

                                        <div class="col-4">
                                            <div class="form-floating">
                                                <InputNumber @bind-Value="pageViewModel.DaysInTheClub" class="form-control" placeholder="" disabled="@DisabledForm" />
                                                <label for="DaysInTheClub"> Dagar i klubben </label>
                                            </div>
                                        </div>
                                    }
                                </div>

                                <br />

                                <div class="row">

                                    <div id="mobile" class="col-3" />
                                    @if (pageViewModel != null)
                                    {
                                        <div class="col-3">
                                            <div class="form-floating">
                                                <InputNumber @bind-Value="pageViewModel.SalaryTotal" class="form-control" disabled="@DisabledForm" />
                                                <label for="SalaryTotal"> Totalt utbetald lön </label>
                                            </div>
                                        </div>

                                        <div class="col-3">
                                            <div class="form-floating">
                                                <InputNumber @bind-Value="pageViewModel.TrainingModeTotalCost" class="form-control" disabled="@DisabledForm" />
                                                <label for="TrainingModeTotalCost"> Total träningsläger kostnader </label>
                                            </div>
                                        </div>

                                        <div class="col-3">
                                            <div class="form-floating">
                                                <InputNumber @bind-Value="pageViewModel.PurchaseAmount" class="form-control" placeholder="" disabled="@DisabledForm" />
                                                <label for="PurchaseAmount"> Inköpsvärdet </label>
                                            </div>
                                        </div>

                                        <div class="col-3">
                                            <div class="form-floating">
                                                <InputNumber @bind-Value="pageViewModel.TotalCost" class="form-control" disabled="@DisabledForm" />
                                                <label for="TotalCost"> Total kostand </label>
                                            </div>
                                        </div>
                                    }
                                </div>

                                <br />

                                <div class="row">

                                    <div id="mobile" class="col-4" />
                                    @if (pageViewModel != null)
                                    {
                                        <div class="col-4">
                                            <div class="form-floating">
                                                <InputNumber @bind-Value="pageViewModel.SoldAmount" class="form-control" placeholder="" disabled="@DisabledForm" />
                                                <label for="SoldAmount"> Säljvärdet </label>
                                            </div>
                                        </div>

                                        <div class="col-4">
                                            <div class="form-floating">
                                                <InputNumber @bind-Value="pageViewModel.MoneyProfitOrLoss" class="form-control" placeholder="" disabled="@DisabledForm" />
                                                <label for="MoneyProfitOrLoss"> Vinst/förslust </label>
                                            </div>
                                        </div>

                                        <div class="col-4">
                                            <div class="form-floating">
                                                <InputText @bind-Value="pageViewModel.PercentProfitOrLoss" class="form-control" placeholder="" disabled="@DisabledForm" />
                                                <label for="PercentProfitOrLoss"> Vinst/förslust i % </label>
                                            </div>
                                        </div>
                                    }
                                </div>

                                <br />

                                <div class="row">
                                    @if (pageViewModel != null)
                                    {
                                        <div class="col-12">
                                            <div class="form-floating">
                                                <InputTextArea rows="4" style="height:100%;" @bind-Value="pageViewModel.Note" class="form-control" disabled="@DisabledForm" />
                                                <label for="Note"> Beskrivning </label>
                                            </div>
                                        </div>
                                    }
                                </div>

                                <br />
                                <br />

                                @if (ShowOrHideEditButton)
                                {
                                    <div align="center">
                                        <button type="submit" align="center" class="btn btn-outline-warning btn-sm"> Ändra </button>
                                    </div>
                                }

                                <br />

                                <div style="text-align:center">
                                    <button @onclick="RefreshPage" type="button" style="text-align:center" class="btn btn-outline-secondary btn-sm"> Tillbaka </button>
                                </div>

                                <br /> <br />

                            </EditForm>
                        </div>
                    }
                </div>

                @* View - Desktop *@
                <div id="desktop">

                    <div class="card-body">
                        <QuickGrid Items="@queryable" Pagination="pagination">

                            <PropertyColumn Format="yyyy-MM-dd" Title="Inköpsdatum" Property="@(c => c.PurchasedDate)" Sortable="true" />
                            <PropertyColumn Format="yyyy-MM-dd" Title="Säljdatum" Property="@(c => c.SoldDate)" Sortable="true" />
                            <PropertyColumn Title="Dagar i klubben" Property="@(c => c.DaysInTheClub)" Sortable="true" />
                            <PropertyColumn Title="Vinst/förslust" Property="@(c => c.MoneyProfitOrLoss)" Sortable="true" />
                            <PropertyColumn Title="Vinst/förslust i %" Property="@(c => c.PercentProfitOrLoss)" Sortable="true" />


                            <TemplateColumn Title="Info">

                                <div class="btn-group" role="group">
                                    <button title="Info" id="btnGroupDrop1" type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        Info
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <li class="dropdown-item"><button class="btn btn-outline-info btn-sm" @onclick="@(() => Info(context))"> All info </button></li>
                                        <li class="dropdown-item"><button class="btn btn-outline-warning btn-sm" @onclick="@(() => Edit(context))"> Ändra </button></li>
                                        <li class="dropdown-item"><button class="btn btn-outline-danger btn-sm" @onclick="@(() => OpenDeleteWindow(context))"> Ta bort </button></li>
                                    </ul>
                                </div>

                                <div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                @if (pageViewModel != null)
                                                {
                                                    <h5 class="modal-title"> Vill du ta bort spelaren: @pageViewModel.Name? </h5>
                                                }
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-danger" @onclick="@(() => Delete())"> Ta bort spelare </button>
                                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" @onclick="() => CloseDeleteWindow()"> Ångra </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @if (ShowBackdrop)
                                {
                                    <div class="modal-backdrop fade show"></div>
                                }

                            </TemplateColumn>
                        </QuickGrid>

                        <div class="card-footer"><Paginator State="@pagination" /></div>

                        <br />
                        <br />

                    </div>
                </div>

                @* View - Mobile *@
                <div id="mobile">

                    <div class="card-body">
                        <QuickGrid Items="@queryable" Pagination="pagination">

                            <PropertyColumn Title="Vinst/förslust" Property="@(c => c.MoneyProfitOrLoss)" Sortable="true" />

                            <TemplateColumn Title="Info">

                                <div class="btn-group" role="group">
                                    <button title="Info" id="btnGroupDrop1" type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        Info
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <li class="dropdown-item"><button class="btn btn-outline-info btn-sm" @onclick="@(() => Info(context))"> All info </button></li>
                                        <li class="dropdown-item"><button class="btn btn-outline-warning btn-sm" @onclick="@(() => Edit(context))"> Ändra </button></li>
                                        <li class="dropdown-item"><button class="btn btn-outline-danger btn-sm" @onclick="@(() => OpenDeleteWindow(context))"> Ta bort </button></li>
                                    </ul>
                                </div>

                                <div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title"> Vill du ta bort spelaren: @pageViewModel!.Name? </h5>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-danger" @onclick="@(() => Delete())"> Ta bort spelare </button>
                                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" @onclick="() => CloseDeleteWindow()"> Ångra </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @if (ShowBackdrop)
                                {
                                    <div class="modal-backdrop fade show"></div>
                                }

                            </TemplateColumn>
                        </QuickGrid>

                        <br />
                        <br />

                    </div>
                </div>

            </div>
        </div>
    </div>

    @* Footer *@
    <div>

        <br /> <br />

        <div class="footer" align="center">
            <p> Copyright 2023 - @DateTime.Now.Year</p>
        </div>

        <br /> <br />

    </div>
}
catch (Exception ex)
{
    ShowErrorMessage($"Övergripande felmeddelande: {ex.Message}");
}

@* Back-End *@
@code
{
    private MZSoldPlayersViewModels? pageViewModel { get; set; } = new();

    PaginationState pagination = new PaginationState { ItemsPerPage = 30 };
    private IQueryable<MZSoldPlayersViewModels> queryable = Enumerable.Empty<MZSoldPlayersViewModels>().AsQueryable();

    // Holds temporary id to delete items
    private int TemporaryId { get; set; } = 0;

    // Modol window settings
    public Guid Guid = Guid.NewGuid();
    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;

    // Hide button and fields
    private bool ShowOrHideEditForm { get; set; } = false;
    private bool ShowOrHideEditButton { get; set; } = false;
    private bool DisabledForm { get; set; } = false;

    // Text messeges
    private bool ShowOrHideErrorMessage { get; set; } = false;
    private string ErrorMessage { get; set; } = string.Empty;
    private string InfoMessage { get; set; } = string.Empty;
    private bool ShowOrHideInfoMessage { get; set; } = false;

    private void ShowErrorMessage(string errorMessage)
    {
        ErrorMessage = errorMessage;
        ShowOrHideErrorMessage = true;
    }

    // Load data from database to the Queryable container
    private async Task ConvertListToQueryable()
    {
        try
        {
            await using ApplicationDbContext db = await IDbContextFactory.CreateDbContextAsync() ?? throw new Exception("ConvertListToQueryableAsync: db == null!");

            List<MZSoldPlayers> items = await db.MZSoldPlayers.OrderByDescending(c => c.SoldDate).ToListAsync();

            if (!items.Any())
            {
                InfoMessage = "Finns ingen data att visa!";
                ShowOrHideInfoMessage = true;
                return;
            }

            queryable = items
                .Select(model => BackEndClass.ChangeFromModelToViewModel(model))
                .AsQueryable();

            pagination.TotalItemCountChanged += (sender, EventArgs) => StateHasChanged();
        }
        catch (Exception ex)
        {
            ShowErrorMessage($"ConvertListToQueryableAsync. Felmeddelande: {ex.Message}");
        }
    }

    protected override async Task OnInitializedAsync() => await ConvertListToQueryable();

    private async Task RefreshPage() => await Task.Run(() => Navigation.Refresh(true));

    private async Task OnlyEdit()
    {
        DisabledForm = false;

        if (pageViewModel == null)
        {
            ShowErrorMessage($"OnlyEdit: pageViewModel = null!");
            return;
        }

        try
        {
            if (pageViewModel.ManagerZoneSoldPlayerId > 0)
            {
                ErrorMessage = await BackEndClass.Edit(pageViewModel);
                ShowOrHideEditButton = true;
            }
            else
            {
                ShowErrorMessage($"Gick inte att ändra! Id = {pageViewModel.ManagerZoneSoldPlayerId}");
                return;
            }

            if (!string.IsNullOrEmpty(ErrorMessage))
            {
                ShowOrHideEditForm = true;
                ShowOrHideErrorMessage = true;
                return;
            }
            else
            {
                pageViewModel = new();
                await RefreshPage();
            }
        }
        catch (Exception ex)
        {
            ShowErrorMessage($"Ändra. Felmeddelande: {ex.Message}");
        }
    }

    private void Info(MZSoldPlayersViewModels vm)
    {
        ShowOrHideEditForm = !ShowOrHideEditForm;
        ShowOrHideEditButton = false;
        DisabledForm = true;
        pageViewModel = vm;
    }

    private void Edit(MZSoldPlayersViewModels vm)
    {
        if (vm.ManagerZoneSoldPlayerId == 0)
        {
            ShowErrorMessage($"Går inte att ändra spelaren. ID = {vm.ManagerZoneSoldPlayerId}!");
            return;
        }

        DisabledForm = false;
        ShowOrHideEditButton = true;
        ShowOrHideEditForm = true;
        pageViewModel = vm;
    }

    private async Task Delete()
    {
        try
        {
            await using ApplicationDbContext db = await IDbContextFactory.CreateDbContextAsync() ?? throw new Exception("Delete: db == null!");

            if (!db.MZSoldPlayers.Any())
            {
                ShowErrorMessage("Gick inte att ta bort spelaren, databasen är tom!");
                return;
            }

            MZSoldPlayers? model = await db.MZSoldPlayers.FirstOrDefaultAsync(a => a.ManagerZoneSoldPlayerId == TemporaryId);

            if (model == null)
            {
                ShowErrorMessage($"Går inte att ta bort spelaren. (TemporaryId = {TemporaryId})!");
                return;
            }

            ErrorMessage = await BackEndClass.Delete(model);

            if (!string.IsNullOrEmpty(ErrorMessage))
                ShowOrHideErrorMessage = true;
            else
            {
                pageViewModel = new();
                await RefreshPage();
            }
        }
        catch (Exception ex)
        {
            ShowErrorMessage($"Ta bort. Felmeddelande: {ex.Message}");
        }
    }

    private void ToggleModal(ref string modalDisplay, ref string modalClass, ref bool showBackdrop, bool isOpen)
    {
        modalDisplay = isOpen ? "block;" : "none";
        modalClass = isOpen ? "Show" : "";
        showBackdrop = isOpen;
        StateHasChanged();
    }

    private void OpenDeleteWindow(MZSoldPlayersViewModels vm)
    {
        TemporaryId = vm.ManagerZoneSoldPlayerId;
        ToggleModal(ref ModalDisplay, ref ModalClass, ref ShowBackdrop, true);
    }

    private void CloseDeleteWindow() => ToggleModal(ref ModalDisplay, ref ModalClass, ref ShowBackdrop, false);
}